.selected{
    color: green;
    font-weight: bold;
    font-size: larger;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;

}
#notes-list{
    list-style-type: none;
    padding: 0;
    width: 200px;
    margin-top: 20px;
}
#notes-list li{
    background-color: lightgray;
    margin: 5px 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#add{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}
#delete{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
}
button:hover{
    background-color: #45a049;
}
