body{
    background-color: aliceblue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h1{
    text-align: center;
    color: rgb(239, 152, 45);
    font: 100;
}
#container{
    border: 1px solid black;
    border-radius: 8px;
    width: 100vh;
    text-align: center;
}
p{
    color: gray;
    cursor: pointer;
}
#button{
    background-color: aquamarine;
    border-radius: 8px;
    padding: 10px;
}